---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import Cta from '../components/Cta.svelte';
import PrimaryBtn from '../components/global/PrimaryBtn.svelte';
import SecondaryBtn from '../components/global/SecondaryBtn.svelte';
import image from "../images/IMG-7107.jpg";
import image2 from "../images/pexels-photo-1.jpg";
import HeartHands from "../images/HearHands.svg";
import HouseHand from "../images/HouseHand.svg";
import HeartHouse from "../images/HouseHeart.svg";

const homeResponse = await fetch('https://admin.blueengineering.dev/api/home-page?populate=*');
const homePage = await homeResponse.json();

const storyResponse = await fetch('https://admin.blueengineering.dev/api/stories?populate=*');
const stories = await storyResponse.json();
---
<Layout title={homePage.data.attributes.Title}>
	<main>
	<div class="wrapper">
      <Hero
        headline={homePage.data.attributes.Hero.Header}
        body={homePage.data.attributes.Hero.SubHeader}
        image="../images/pexels-photo-1.jpg"
      />
      <div class="">
        <div class="mx-auto max-w-4xl py-16 px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
          <h2 class="text-3xl font-bold tracking-tight text-t-black">Almost Home Wyoming</h2>
          <div class="mt-12 grid grid-cols-3 gap-x-6 gap-y-12 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
            <div class="bg-gradient-to-r from-purple-800 to-t-teal p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <img src={HouseHand} />
                </span>
              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[0].Header}</h3>
                <p class="mt-2 text-base text-white">{homePage.data.attributes.CTAs[0].Body}</p>
                <SecondaryBtn link="/about/">Read On</PrimaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-r from-t-teal to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/heart -->
                  <img src={HeartHands} />
                </span>
              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[1].Header}</h3>
                <p class="mt-2 text-base text-white">{homePage.data.attributes.CTAs[1].Body}</p>
                <SecondaryBtn link="/donate/">Donate</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-l from-purple-800 to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/users -->
                  <img src={HeartHouse} />
                </span>

              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[2].Header}</h3>
                <p class="mt-2 text-white text-base">{homePage.data.attributes.CTAs[2].Body}</p>
                <SecondaryBtn link="/contact/">Contact Us</SecondaryBtn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative max-w-7xl mx-auto">
        <Hero image={image} headline="Our stories" body="Read about our organization"></Hero>
        <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
          {stories.data.map((story, index) => (
            <Card story={story.attributes} key={index}></Card>
          ))}
        </div>
      </div>

      <div class="bg-sky-100 py-12 my-12">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl">
            <span class="block">{homePage.data.attributes.Title}</span>
            <span class="block text-sky-600">
              {homePage.data.attributes.Hero.SubHeader}
            </span>
          </h2>
          <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
              <PrimaryBtn link="/donate">
                Donate
              </PrimaryBtn>
            </div>
          </div>
        </div>
      </div>
      </div>
	</main>
</Layout>
