---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import Cta from '../components/Cta.svelte';
import PrimaryBtn from '../components/global/PrimaryBtn.svelte';
import SecondaryBtn from '../components/global/SecondaryBtn.svelte';
import image from "../images/IMG-7107.jpg";
import image2 from "../images/pexels-photo-1.jpg";
import almostHomeWyoLogo from "../images/almosthome-wyo-logo.jpeg";
import challengeForCharitiesLogo from "../images/challenge-for-charities-logo.jpeg";
import landerCommunityFoundationLogo from "../images/LCF_Logo_Hor_RGB.png";
import HeartHands from "../images/HearHands.svg";
import HouseHand from "../images/HouseHand.svg";
import HeartHouse from "../images/HouseHeart.svg";
import VideoCTA from "../components/VideoCTA.svelte";

const homeResponse = await fetch('https://admin.blueengineering.dev/api/home-page?populate=*');
const homePage = await homeResponse.json();

const storyResponse = await fetch('https://admin.blueengineering.dev/api/stories?populate=*');
const stories = await storyResponse.json();
---
<Layout title={homePage.data.attributes.Title}>
	<main>
	<div class="wrapper">
      <Hero
        headline={homePage.data.attributes.Hero.Header}
        body={homePage.data.attributes.Hero.SubHeader}
        image="../images/pexels-photo-1.jpg"
      />
      <div class="">
        <div class="mx-auto max-w-4xl py-16 px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
          <h2 class="text-3xl font-bold tracking-tight text-t-black">Almost Home Wyoming</h2>
          <div class="mt-12 grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-x-6 gap-y-12 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
            <div class="bg-gradient-to-r from-purple-800 to-t-teal p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <img src={HouseHand} />
                </span>
              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[0].Header}</h3>
                <p class="mt-2 text-base text-white">{homePage.data.attributes.CTAs[0].Body}</p>
                <SecondaryBtn link="/about/">Read On</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-r from-t-teal to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/heart -->
                  <img src={HeartHands} />
                </span>
              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[1].Header}</h3>
                <p class="mt-2 text-base text-white">{homePage.data.attributes.CTAs[1].Body}</p>
                <SecondaryBtn link="/donate/">Donate</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-l from-purple-800 to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/users -->
                  <img src={HeartHouse} />
                </span>

              </div>
              <div class="mt-6">
                <h3 class="text-lg font-medium text-white">{homePage.data.attributes.CTAs[2].Header}</h3>
                <p class="mt-2 text-white text-base">{homePage.data.attributes.CTAs[2].Body}</p>
                <SecondaryBtn link="/contact/">Contact Us</SecondaryBtn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative max-w-7xl mx-auto">
        <Hero image={image} headline="Our stories" body="Read about our organization"></Hero>
        <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {stories.data.map((story, index) => (
            <Card story={story.attributes} key={index}></Card>
          ))}
        </div>
      </div>

      <VideoCTA />
      <div class="bg-white py-24 sm:py-32" id="c4c">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
              <div class="mx-auto w-full max-w-xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">Challenge for Charities 2023</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                Please consider donating to Almost Home Wyoming during the Lander Community Foundation Challenge For Charities Match Event!
                </p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                Checks must be made out to the <span class="decoration-purple-600 underline">Lander Community Foundation, Box 1131, Lander, WY, 82520,</span> or you can pay online at info@landercommunityfoundation.org and your donation will be matched.
                </p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                Please make sure to put <span class="decoration-purple-600 underline">“Almost Home Wyoming” in the memo</span> so we receive your gift!  Thank you, Lander!
                </p>
                <div class="mt-8 flex items-center gap-x-6">
                  <a href="https://www.landercommunityfoundation.org/challenge-for-charities-overview" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Learn More</a>
                  <a href="https://www.landercommunityfoundation.org/donate" class="text-sm font-semibold text-gray-900">Donate</a>
                </div>
              </div>
              <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
                <img class="max-h-48 w-full object-contain object-left" src={challengeForCharitiesLogo} alt="Challenge for Charities logo">
                <img class="max-h-48 w-full object-contain object-left" src={landerCommunityFoundationLogo} alt="Lander Community Foundation logo">
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
</Layout>
