---
import Layout from '../layouts/Layout.astro';
import '../assets/global.css';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import SecondaryBtn from '../components/global/SecondaryBtn.svelte';
import image from "../../public/images/IMG-7107.jpg";
import challengeForCharitiesLogo from "../../public/images/challenge-for-charities-logo.jpeg";
import landerCommunityFoundationLogo from "../../public/images/LCF_Logo_Hor_RGB.png";
import HeartHands from "../images/HearHands.svg";
import HouseHand from "../images/HouseHand.svg";
import HeartHouse from "../images/HouseHeart.svg";
import VideoCTA from "../components/VideoCTA.svelte";
import { client } from '../../tina/__generated__/client';
import { TinaMarkdown } from "tinacms/dist/rich-text";
import Banner from '../components/Banner.svelte';


const homeContent = await client.queries.page({relativePath: 'Home.md'});

const postsResponse = await client.queries.postConnection()
const stories = postsResponse.data.postConnection.edges.map(post => {
  return post
});
---
<Layout title={homeContent.data.page.title}>
	<main>
	<div class="wrapper">
      <Hero
        headline={homeContent.data.page.title}
        body={homeContent.data.page.subTitle}
        image="../images/pexels-photo-1.jpg"
      />
      <div class="">
        <div class="mx-auto max-w-4xl py-16 px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
          <div class="mt-12 grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-x-6 gap-y-12 lg:mt-16 lg:gap-x-8 lg:gap-y-16">
            <div class="bg-gradient-to-r from-purple-800 to-t-teal p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <img src={HouseHand} />
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-3xl font-medium text-white">About us</h2>
                <p class="mt-2 text-base text-white">Learn more about our mission and story</p>
                <SecondaryBtn link="/about/">Read On</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-r from-t-teal to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/heart -->
                  <img src={HeartHands} />
                </span>
              </div>
              <div class="mt-6">
                <h2 class="text-2xl font-medium text-white">Ways to Give</h2>
                <p class="mt-2 text-base text-white">Lend a helping hand</p>
                <SecondaryBtn link="/donate/">Donate</SecondaryBtn>
              </div>
            </div>
            <div class="bg-gradient-to-l from-purple-800 to-indigo-400 p-6 rounded">
              <div>
                <span class="flex h-24 w-24 items-center justify-center rounded-md">
                  <!-- Heroicon name: outline/users -->
                  <img src={HeartHouse} />
                </span>

              </div>
              <div class="mt-6">
                <h2 class="text-2xl font-medium text-white">Reach out to us</h2>
                <p class="mt-2 text-white text-base">Please reach out with any questions or concerns, we are here to help</p>
                <SecondaryBtn link="/contact/">Contact Us</SecondaryBtn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative max-w-7xl mx-auto">
        <Hero image={image} headline="Our stories" body="Read about our organization"></Hero>
        <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {stories.map((story, index) => (
            <Card story={story} key={index}></Card>
          ))}
        </div>
      </div>

      <VideoCTA />
      <div class="bg-white py-24 sm:py-32" id="c4c">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
              <div class="paragraph mx-auto w-full max-w-xl lg:mx-0">
                <h1 class="prose lg:prose-xl">Challenge for Charities 2024</h1>
                <p class="prose">Dear Friends of Almost Home Wyoming,</p>
                <p>The <a href="https://www.landercommunityfoundation.org/challenge-for-charities-overview">Lander Community Foundation’s Challenge for Charities</a> match event is happening now! Please consider making a donation so we can continue to serve those in our community who are homeless. We appreciate your support!</p>
                <h3 class="prose lg:prose-xl">Here is how it works:</h3>
                <p><em>You can write a check and send it to the Lander Community Foundation at P.O. Box 1131, Lander, WY, 82520.</em> <strong>Please note</strong>  that the check must be made to the LCF with a notation for Almost Home Wyoming for us to get the matching funds.</p>
	            <p><em>You can go to the <a href="https://lander.fcsuite.com/erp/donate/list">Lander Community Foundation</a> and click on “Challenge For Charities” to donate online.</em> Please make sure you select Almost Home Wyoming as your chosen charity. Thank you!</p>
                <div class="mt-8 flex items-center gap-x-6">
                  <a href="https://www.landercommunityfoundation.org/challenge-for-charities-overview" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Learn More</a>
                  <a href="https://lander.fcsuite.com/erp/donate/list" class="text-sm font-semibold text-gray-900">Donate</a>
                </div>
              </div>
              <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
                <img class="max-h-48 w-full object-contain object-left" src={challengeForCharitiesLogo} alt="Challenge for Charities logo">
                <img class="max-h-48 w-full object-contain object-left" src={landerCommunityFoundationLogo} alt="Lander Community Foundation logo">
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
</Layout>
